{% extends "main.html" %}

{% block content %}
    <div class="container bg-transparent text-dark rounded mt-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">#{{ ticket.id }}</span>
                <span class="input-group-text">{{ ticket.status }}</span>
            </div>
            <input type="text" class="form-control" placeholder="{{ ticket.title }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">options
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" type="button" data-toggle="modal" data-target="#change-status">Status
                        ändern</a>
                    <a class="dropdown-item" href="#">Löschen</a>
                    <a class="dropdown-item" href="#">Aus Datenbank löschen</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" onclick="add_user(`moderators`, `{{ user.username }}`);">Mir
                        zuweisen</a>
                    <a class="dropdown-item" href="#">Zuweisung ändern</a>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Kategorie:</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>{{ ticket.category }}</option>
                        {% for foo in category %}
                            {% if not foo.name == ticket.category.name %}
                                <option value="{{ forloop.counter }}">{{ foo.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <p class="text-muted">
                    Moderatoren:
                    <span id="moderators">
                        {% if not moderators.count == 0 %}
                            {% for moderator in moderators %}
                                {% if forloop.last %}
                                    {{ moderator.username }}
                                {% else %}
                                    {{ moderator.username }},
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </span>
                </p>

            </div>
            <div class="col-6">
                <div class="dropdown" id="user-searchbar">
                    <form autocomplete="off" onsubmit="return false;">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input type="text" class="form-control" id="search-user" placeholder="Username"
                                   list="user-search-dropdown-menu" oninput="search_and_update_usernames(this.value);"
                                   onchange="add_user(`participants`, this.value);">
                        </div>
                        <datalist id="user-search-dropdown-menu">
                            <!--Will be filled in with js-->
                        </datalist>
                    </form>
                </div>
                <p class="text-muted">
                    Teilnehmer:
                    <span id="participants">
                        {% if not participants.count == 0 %}
                            {% for participant in participants %}
                                {% if forloop.last %}
                                    {{ participant.username }}
                                {% else %}
                                    {{ participant.username }},
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </span>
                </p>
            </div>
        </div>
        <figure class="bg-light p-3 rounded  border-1"
                style="border: .05rem solid #a9a9a9; border-left: .25rem solid #5865f2;">
            <p class="lead">Beschreibung</p>
            <hr>
            <p>{{ ticket.description }}</p>
            <p class="blockquote-footer mb-0 font-italic">
                {{ ticket.creationDate }}
            </p>
        </figure>
        {% for comment in comments %}
            <figure class="bg-light p-3 rounded"
                    style="border: .05rem solid #a9a9a9; border-left: .25rem solid #ff9f00;">
                <p class="lead">{{ comment.user.first_name }} {{ comment.user.last_name }}
                    | {{ comment.user.username }}</p>
                <hr>
                <p>{{ comment.content }}</p>
                <p class="blockquote-footer mb-0 font-italic">
                    {{ comment.creationDate }}
                </p>
            </figure>
        {% endfor %}
        <figure class="bg-light p-3 rounded"
                style="border: .05rem solid #a9a9a9; border-left: .25rem solid #00ff00;">
            <p class="lead">Kommentar hinzufügen:</p>
            <hr>
            <form action="{% url 'add_comment_to_ticket' id=ticket.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                                          name="comment"></textarea>
                </div>
                <div class="file-drop-area bg-white text-center" style="border: .05rem solid #a9a9a9">
                    <input class="file-input" type="file" multiple/>
                    <span class="btn btn-outline-primary">Datei auswählen oder in Fenster ziehen</span>
                </div>
                <br>
                <div class="text-white">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <p class="blockquote-footer mb-0 font-italic">
                                Ticketcontrol | Ticketsystem by Rise Up Group
                            </p>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success text-right" type="submit" value="Submit">
                                Abschicken
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </figure>
    </div>
    <div class="modal fade" id="change-status" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Status von Ticket #{{ ticket.id }} ändern</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{% url 'update_status_ticket' id=ticket.id %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <select class="custom-select" id="status_choice" name="status_choice">
                            {% for StatusChoice in ticket.StatusChoices %}
                                <option value="{{ StatusChoice }}">{{ StatusChoice }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zurück</button>
                        <button type="submit" class="btn btn-primary">Speichern</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        async function search_and_update_usernames(typed_username) {
            const users = await (await fetch(`{% url 'user_live_search' %}${typed_username || "_"}`)).json();
            const dropdown = $("#user-search-dropdown-menu");
            dropdown.children().remove();
            for (user of users) {
                dropdown.append($(`<option>${user.username}</option>`));
            }
        }

        var participantToken, moderatorToken;

        async function get_token() {
            let tokenResponse = await fetch(`{% url 'ticket_add_participant' id=ticket.id %}`);
            participantToken = new FormData();
            participantToken.append("csrfmiddlewaretoken", await tokenResponse.text());
            tokenResponse = await fetch(`{% url 'ticket_add_moderator' id=ticket.id %}`);
            moderatorToken = new FormData();
            moderatorToken.append("csrfmiddlewaretoken", await tokenResponse.text());
        }

        get_token();

        async function add_user(mode, username) {
            if (username !== "") {
                let response;
                if (mode === "participants") {
                    response = await fetch(`{% url 'ticket_add_participant' id=ticket.id %}${username}`, {
                        method: "POST",
                        body: participantToken
                    });
                } else if (mode === "moderators") {
                    response = await fetch(`{% url 'ticket_add_moderator' id=ticket.id %}${username}`, {
                        method: "POST",
                        body: moderatorToken
                    });
                }
                if (response.ok) {
                    document.getElementById("search-user").value = "";
                    let userList = document.getElementById(mode);
                    let userListHtml = userList.innerHTML.trim();
                    if (typeof userListHtml === "undefined" || userListHtml === "") {
                        userList.innerHTML = userListHtml + username;
                    } else {
                        userList.innerHTML = userListHtml + ", " + username;
                    }
                }
            }
        }
    </script>
{% endblock %}
