{% extends "main.html" %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-header bg-secondary text-white">
                    <h5>Filters</h5>
                </div>
                <div class="card-body bg-light">
                    {{ filters }}
                    <form method="get">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="filter-status">Status:</label>
                            </div>
                            <select class="custom-select" id="filter-status" name="status">
                                <option value="0">None</option>
                                {% for status in status_choices %}
                                    <option value="{{ status }}"{% if status == GET.status %}
                                            selected{% endif %}>{{ status }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="filter-category">Kategorie:</label>
                            </div>

                            <select class="custom-select" id="filter-category" name="category">
                                <option value="0">None</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}"{% if category.id == category_id %}
                                            selected{% endif %}>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="filter_title">Titel:</label>
                            </div>
                            <select id="filter-title-type" name="title_type">
                                {% for type in types %}
                                    <option value="{{ type }}"{% if GET.title_type == type %}
                                            selected{% endif %}>{{ type }}</option>
                                {% endfor %}
                            </select>
                            <input type="text" name="title" id="filter-title" value="{{ GET.title }}">
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="filter-location">Standort:</label>
                            </div>
                            <select id="filter-title-type" name="location_type">
                                {% for type in types %}
                                    <option value="{{ type }}"{% if GET.location_type == type %}
                                            selected{% endif %}>{{ type }}</option>
                                {% endfor %}
                            </select>
                            <input type="text" name="location" id="filter-location" value="{{ GET.location }}">
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="filter-owner">Besitzer:</label>
                            </div>
                            <input type="text" name="owner" id="filter-owner" value="{{ GET.owner }}">
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="filter-participating">Teilnehmer:</label>
                            </div>
                            <input type="text" name="participating" id="filter-participating"
                                   value="{{ GET.participating }}" placeholder="username, username">
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="filter-moderators">Moderatoren:</label>
                            </div>
                            <input type="text" name="moderators" id="filter-moderators"
                                   value="{{ GET.moderators }}" placeholder="username, username">
                        </div>
                        <br>
                        <input class="btn btn-primary" type="submit" value="Filtern">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-4">
                <div class="card-header bg-secondary text-white">
                    <h5>Tickets</h5>
                </div>
                <div class="card-body bg-light">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th scope="row">Id</th>
                            <th>Status</th>
                            <th>Kategorie</th>
                            <th>Titel</th>
                            <th>Standort</th>
                            <th>Owner</th>
                            <th>Participants</th>
                            <th>Modarators</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ticket in tickets %}
                            <tr onclick="window.location = &#39{% url 'ticket_view' id=ticket.id %}&#39">
                                <th>#{{ ticket.id }}</th>
                                <td>{{ ticket.status }}</td>
                                <td>{{ ticket.category }}</td>
                                <td>{{ ticket.title }}</td>
                                <td>{{ ticket.location }}</td>
                                <td>
                                    <a href="{% url 'user_details' id=ticket.owner.id %}">{{ ticket.owner.username }}</a>
                                </td>
                                <td>
                                    {% for participant in ticket.participating.all %}
                                        <a href="{% url 'user_details' id=participant.id %}">{{ participant.username }}</a>
                                        {% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for moderator in ticket.moderators.all %}
                                        <a href="{% url 'user_details' id=moderator.id %}">{{ moderator.username }}</a>
                                        {% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}