{% extends "main.html" %}
{% load static %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-header bg-secondary text-white">
                    <h5>Filters</h5>
                </div>
                <div class="card-body bg-light">
                    {{ filters }}
                    <form method="get">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="filter-status">Status:</label>
                            </div>
                            <select class="custom-select" id="filter-status" name="status">
                                <option value="0">None</option>
                                {% for status in status_choices %}
                                    <option value="{{ status }}"{% if status == GET.status %}
                                            selected{% endif %}>{{ status }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="filter-category">Kategorie:</label>
                            </div>

                            <select class="custom-select" id="filter-category" name="category">
                                <option value="0">None</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}"{% if category.id == category_id %}
                                            selected{% endif %}>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="filter_title">Titel:</label>
                            </div>
                            <select id="filter-title-type" name="title_type">
                                {% for type in types %}
                                    <option value="{{ type }}"{% if GET.title_type == type %}
                                            selected{% endif %}>{{ type }}</option>
                                {% endfor %}
                            </select>
                            <input type="text" name="title" id="filter-title" value="{{ GET.title }}">
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="filter-location">Standort:</label>
                            </div>
                            <select id="filter-title-type" name="location_type">
                                {% for type in types %}
                                    <option value="{{ type }}"{% if GET.location_type == type %}
                                            selected{% endif %}>{{ type }}</option>
                                {% endfor %}
                            </select>
                            <input type="text" name="location" id="filter-location" value="{{ GET.location }}">
                        </div>
                        <div class="dropdown">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="filter-owner">Besitzer:</label>
                                </div>
                                <input type="text" name="owner" id="filter-owner" value="{{ GET.owner }}"
                                       placeholder="username"
                                       list="filter-owner-data-list"
                                       oninput="search_and_update_usernames(this.value, 'filter-owner-data-list', false);">
                            </div>
                            <datalist id="filter-owner-data-list"></datalist>
                        </div>
                        <br>
                        <div class="dropdown">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="filter-participating">Teilnehmer:</label>
                                </div>
                                <input type="text" name="participating" id="filter-participating"
                                       value="{{ GET.participating }}" placeholder="username, username"
                                       list="filter-participating-data-list"
                                       oninput="search_and_update_usernames(this.value, 'filter-participating-data-list');">
                            </div>
                            <datalist id="filter-participating-data-list"></datalist>
                        </div>
                        <br>
                        <div class="dropdown">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="filter-moderators">Moderatoren:</label>
                                </div>
                                <input type="text" name="moderators" id="filter-moderators" value="{{ GET.moderators }}"
                                       placeholder="username, username" list="filter-moderators-data-list"
                                       oninput="search_and_update_usernames(this.value, 'filter-moderators-data-list');">
                            </div>
                            <datalist id="filter-moderators-data-list"></datalist>
                        </div>
                        <br>
                        {% if perms.ticketcontrol.unhide_ticket %}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Versteckt:</label>
                                </div>
                                <input type="radio" id="filter-hidden-none" name="hidden" value="0"
                                       {% if GET.hidden != "1" and GET.hidden != "2" %}checked{% endif %}>
                                <label for="filter-hidden-none">None</label>
                                <input type="radio" id="filter-hidden-false" name="hidden" value="True"
                                       {% if GET.hidden == "True" %}checked{% endif %}>
                                <label for="filter-hidden-false">Versteckt</label>
                                <input type="radio" id="filter-hidden-true" name="hidden" value="False"
                                       {% if GET.hidden == "False" %}checked{% endif %}>
                                <label for="filter-hidden-true">Sichtbar</label>
                            </div>
                            <br>
                        {% endif %}
                        <br>
                        <input class="btn btn-primary" type="submit" value="Filtern">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-4">
                <div class="card-header bg-secondary text-white">
                    <h5>Tickets</h5>
                </div>
                <div class="card-body bg-light">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th scope="row">Id</th>
                            {% if GET.status == "0" %}
                                <th>Status</th>
                            {% endif %}
                            {% if GET.category == "0" %}
                                <th>Kategorie</th>
                            {% endif %}
                            {% if not GET.title or GET.title_type != "is" %}
                                <th>Titel</th>
                            {% endif %}
                            {% if not GET.location or GET.location_type != "is" %}
                                <th>Standort</th>
                            {% endif %}
                            {% if not GET.owner %}
                                <th>Owner</th>
                            {% endif %}
                            <th>Participants</th>
                            <th>Modarators</th>
                            {% if perms.ticketcontrol.unhide_ticket %}
                                {% if not GET.hidden or GET.hidden == "0" %}
                                    <th>Hidden</th>
                                {% endif %}
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for ticket in tickets %}
                            <tr onclick="window.location = &#39{% url 'ticket_view' id=ticket.id %}&#39">
                                <th>#{{ ticket.id }}</th>
                                {% if GET.status == "0" %}
                                    <td>{{ ticket.status }}</td>
                                {% endif %}
                                {% if GET.category == "0" %}
                                    <td>{{ ticket.category }}</td>
                                {% endif %}
                                {% if not GET.title or GET.title_type != "is" %}
                                    <td>{{ ticket.title }}</td>
                                {% endif %}
                                {% if not GET.location or GET.location_type != "is" %}
                                    <td>{{ ticket.location }}</td>
                                {% endif %}
                                {% if not GET.owner %}
                                    <td>
                                        <a href="{% url 'user_details' id=ticket.owner.id %}">{{ ticket.owner.username }}</a>
                                    </td>
                                {% endif %}
                                <td>
                                    {% for participant in ticket.participating.all %}
                                        <a href="{% url 'user_details' id=participant.id %}">{{ participant.username }}</a>
                                        {% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for moderator in ticket.moderators.all %}
                                        <a href="{% url 'user_details' id=moderator.id %}">{{ moderator.username }}</a>
                                        {% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </td>
                                {% if perms.ticketcontrol.unhide_ticket %}
                                    {% if not GET.hidden or GET.hidden == "0" %}
                                        <td>{{ ticket.hidden }}</td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static '/js/userSearch.js' %}"></script>
{% endblock %}