{% extends "main.html" %}

{% block content %}
<br>
<div class="card">
    <div class="card-header bg-secondary text-white">
        <h5>Meine Tickets</h5>
    </div>
    <div class="card-body bg-light">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="row">Id</th>
                <th>Kategorie</th>
                <th>Titel</th>
                <th>Participants</th>
                <th>Modarator</th>
            </tr>
            </thead>
            <tbody>
            <tr onclick="window.location = '1723';">
                <th scope="row">#1793</th>
                <td>Working IT-Support</td>
                <td>PC Stopped working</td>
                <td><a class="text-dark" href="/user/bdrescher">B.Drescher</a>, <a class="text-dark" href="/user/ransbachm">M.Ransbach</a></td>
                <td><a class="text-dark" href="/user/jhorn">J.Horn</a></td>
            </tr>
            <tr onclick="window.location = '1723';">
                <th scope="row">#1793</th>
                <td>Working IT-Support</td>
                <td>PC Stopped working</td>
                <td><a class="text-dark" href="/user/bdrescher">B.Drescher</a>, <a class="text-dark" href="/user/ransbachm">M.Ransbach</a></td>
                <td><a class="text-dark" href="/user/jhorn">J.Horn</a></td>
            </tr>
            <tr onclick="window.location = '1723';">
                <th scope="row">#1793</th>
                <td>Working IT-Support</td>
                <td>PC Stopped working</td>
                <td><a class="text-dark" href="/user/bdrescher">B.Drescher</a>, <a class="text-dark" href="/user/ransbachm">M.Ransbach</a></td>
                <td><a class="text-dark" href="/user/jhorn">J.Horn</a></td>
            </tr>
            <tr onclick="window.location = '1723';">
                <th scope="row">#1793</th>
                <td>Working IT-Support</td>
                <td>PC Stopped working</td>
                <td><a class="text-dark" href="/user/bdrescher">B.Drescher</a>, <a class="text-dark" href="/user/ransbachm">M.Ransbach</a></td>
                <td><a class="text-dark" href="/user/jhorn">J.Horn</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}