{% extends "main.html" %}
{% load static %}

{% block title %}Create ticket{% endblock %}

{% block content %}
    <div class="container bg-transparent rounded mt-3">
        <form method="POST" action="{% url 'create_ticket' %}">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Titel:</span>
                </div>
                <input type="text" class="form-control" name="title" placeholder="Titel eingeben..." autofocus required>
            </div>
            {% if allow_location %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Standort:</span>
                    </div>
                    <input type="text" class="form-control" name="location" placeholder="Bsp: R40 oder THM A13 R202"
                            {% if force_location %} required{% endif %}>
                </div>
            {% endif %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Kategorie:</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" name="category">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="bg-transparent">
                <figure class="p-3 rounded"
                        style="border: .05rem solid var(--color-border); border-left: .25rem solid #5865f2;">
                    <p class="lead">Beschreibung hinzufügen:</p>
                    <hr>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="15"
                                  name="description" required></textarea>
                    </div>
                    <div class="input file-drop-box text-center" id="file-drop-box-ticket">
                        <div class="file-drop-list"></div>
                        <div class="file-drop-area">
                            <input class="file-input" type="file" name="attachments-input"
                                   onchange="update_file_drop_area(this);" multiple/>
                            <span class="btn btn-outline-primary">Datei auswählen oder in Fenster ziehen</span>
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <p class="blockquote-footer mb-0 font-italic">
                                    Ticketcontrol | Ticketsystem by Rise Up Group
                                </p>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-success text-right" type="submit" value="Submit">Abschicken
                                </button>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
        </form>
    </div>
    <div class="modal fade" id="confirm-delete-attachment" tabindex="-1" role="dialog"
         aria-labelledby="confirm-delete-attachment-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="confirm-delete-attachment">Löschen bestätigen</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Anhang wirklich löschen?</p>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <a type="button" class="btn btn-primary" data-dismiss="modal">Zurück</a>
                    <button type="submit" class="btn btn-danger" name="delete-attachment" data-dismiss="model"
                            onclick="delete_attachment(this);">Löschen
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static '/js/fileDropArea.js' %}"></script>
{% endblock %}