{% extends "main.html" %}

{% load static %}

{% block title %}Edit Category: {{ category.name }}{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'edit_category' id=category.id %}">
        {% csrf_token %}
        <div class="form-outline mb-2">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control"
                   value="{{ category.name }}" required {% if not can_change %}disabled{% endif %}/>
        </div>
        <div class="form-outline mb-2">
            <label for="color">Color</label>
            <input type="color" id="color" name="color" class="form-control" placeholder="ffffffff"
                   value="{{ category.color }}" required {% if not can_change %}disabled{% endif %}/>
        </div>
        {% if can_change %}
            <input class="btn btn-primary btn-block mb-2" type="submit" name="submit" id="submit"
                   value="Update">
        {% endif %}
        {% if can_delete %}
            <a class="btn btn-danger btn-block mb-4"
               href="" data-toggle="modal" data-target="#deleteCategory">Delete</a>
        {% endif %}
    </form>
{% if can_delete %}
    <!-- Modal -->
    <div class="modal fade" id="deleteCategory" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCategoryLabel">Löschen bestätigen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="h5">Möchtest du wirklich die Kategorie {{ category.name }} löschen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form method="POST" action="{% url 'delete_category' id=category.id %}">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
