{% extends "half_page.html" %}

{% block title %}Manage Users{% endblock %}

{% block left %}
    <h1 class="my-5 display-3 fw-bold ls-tight">
        TicketControl
        <br/>
        <span class="text-primary display-4">by RiseUp Group</span>
    </h1>
    <p class="text-muted">
        Kategorien erleichtern die Suche und Zuweisung der einzelnen Tickets. Ein Moderator kann im Moderator Panel auf
        einen Aufgabenbereich, wie z.B. IT-Support, Filtern und schneller und einfacher arbeiten. Kategorien ermöglichen
        u.A. die Zusammenarbeit mehrerer Abteilungen in einem Ticketsystem.
    </p>
{% endblock %}

{% block right %}
    <h1 class="text-center display-4 mb-4">Kategorien</h1>
    <table class="table table-sm table-hover mb-4">
        <thead>
        <tr>
            <th>Name</th>
            <th>Farbe</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr onclick="window.location='{% url 'edit_category' id=category.id %}'">
                <td>{{ category.name }}</td>
                <td>#{{ category.color }}</td>
                <td style="background-color: #{{ category.color }}; width: 2em;"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if can_create %}<a class="btn btn-primary" href="{% url 'create_category' %}">Neue Kategorie anlegen</a>
    {% endif %}

{% endblock %}
