{% extends "half_page.html" %}

{% block title %}Kategorien verwalten{% endblock %}

{% block left %}
    <h1 class="my-5 display-3 fw-bold ls-tight">
        TicketControl
        <br>
        <span class="text-primary display-4">by RiseUp Group</span>
    </h1>
{% endblock %}

{% block right %}
    <h1 class="text-center display-4 mb-4">Kategorien</h1>
    <table class="table table-sm table-hover mb-4">
        <tbody>
        {% for category in categories %}
            <tr onclick="window.location='{% url 'edit_category' id=category.id %}'">
                <td>{{ category.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if can_create %}<a class="btn btn-primary" href="{% url 'create_category' %}">Neue Kategorie anlegen</a>
    {% endif %}

{% endblock %}
