{% extends "half_page.html" %}
{% load static %}

{% block title %}{% if action == "activate" %}Nutzer aktivieren{% else %}E-Mail Adresse bestätigen{% endif %}{% endblock %}

{% block right %}
    <h3 class="display-4">{% if action == "activate" %}Nutzer aktivieren{% else %}E-Mail Adresse bestätigen{% endif %}</h3>

    {% if token %}
        <h4 class="h5 mb-4">{{ content_user.username }}</h4>
        <form method="POST" action="{% url 'activate_user' %}">
            {% csrf_token %}
            <input type="hidden" name="user-id" id="user-id" value="{{ content_user.id }}">
            <input type="hidden" name="token" id="token" placeholder="token" value="{{ token }}">
            <input type="submit" value="{% if action == "activate" %}Activate{% else %}Verify{% endif %}" class="btn btn-primary btn-block mb-4">
        </form>
    {% else %}
        Du solltest nun eine E-Mail mit dem Verifizierungslink erhalten haben.<br>
    {% endif %}
    Zurück zum Login? <a href="{% url 'login' %}">Login</a>
{% endblock %}