{% extends "half_page.html" %}
{% load static %}

{% block title %}Nutzer erstellen{% endblock %}

{% block left %}
    <h1 class="display-3 fw-bold ls-tight">Neuer Nutzer</h1>
    <h2 class="text-primary display-4" id="preview_username"></h2>
    <p class="text-muted">
        Nach dem erstellen eines Nutzers durch einen Administrator / Moderator wird keine E-Mail zur
        bestätigung benötigt. Der User kann sich sofort mit den eingegebenen Nutzerdaten anmelden.
    </p>
{% endblock %}

{% block right %}
    <div class="setting" id="use-email-prefix-as-username">{{ use_email_prefix_as_username }}</div>
    <form method="POST" action="{% url 'create_user' %}" autocomplete="new-password">
        {% csrf_token %}
        <input autocomplete="false" name="hidden" type="text" style="display:none;">
        <div class="form-outline mb-2">
            <label for="email">E-Mail</label>
            <input type="email" id="email" name="email" class="form-control" autofocus
                   oninput="update_username()" required maxlength="254"/>
        </div>
        <div class="form-outline mb-2">
            <label for="firstname">Vorname</label>
            <input type="firstname" id="firstname" name="firstname" class="form-control"
                   oninput="update_username()" required maxlength="150"/>
        </div>
        <div class="form-outline mb-2">
            <label for="lastname">Nachname</label>
            <input type="lastname" id="lastname" name="lastname" class="form-control"
                   oninput="update_username()" required maxlength="150"/>
        </div>
        <div class="form-outline mb-2">
            <label for="password">Nutzername</label>
            <input type="username" id="username" name="username" class="form-control" oninput="check_username(false)"
                   onchange="check_username()" required maxlength="150"/>
        </div>
        <div class="form-outline mb-2">
            <label for="password">Passwort</label>
            <input type="password" id="password" name="password" class="form-control" required
                   minlength="8"/>
        </div>
        <label for="groups">Gruppen</label>
        <div class="form-outline mb-2">
            {% if can_change_permission %}
                <select style="width: 100%" multiple="" name="groups" id="groups"
                        {% if not can_change_permission %}
                        disabled{% endif %}>
                    {% for group in groups %}
                        <option class="checkbox"
                                value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </div>
        <input type="checkbox" name="is_active" id="is_active" checked>
        <label for="is_active">Aktiviert</label><br><br>
        <input type="submit" value="Submit" class="btn btn-primary btn-block mb-4"/>
    </form>

    <script src="{% static '/js/user.js' %}"></script>
    <script>
        window.addEventListener("load", check_username);
    </script>
{% endblock %}
