{% extends "half_page.html" %}

{% load static %}

{% block title %}Edit User: {{ content_user.username }}{% endblock %}

{% block left %}
    <h1 class="display-3 fw-bold ls-tight">Nutzer Bearbeiten</h1>
    <h2 class="text-primary display-4" id="preview_username">{{ content_user.username }}</h2>
    <div class="col-md-6 mb-4 mx-auto rounded">
        <!--<img class="rounded-circle" alt="100x100" src="" data-holder-rendered="true">-->
        <p class="display-1" id="preview_initials">
            {{ content_user.first_name|make_list|first }}{{ content_user.last_name|make_list|first }}</p>
    </div>
    <p class="text-muted">
        Die Bearbeitung eines Nutzers erfordert keine Bestätigung. Jede Veränderung wird dem Click auf
        Submit sofort angenommen und ist nicht wiederrufbar. Der User kann seinen Account sofort
        weiterbenutzen.
    </p>
{% endblock %}

{% block right %}
    <form method="POST" action="{% url 'edit_user' id=content_user.id %}" autocomplete="off">
        {% csrf_token %}
        <input autocomplete="false" name="hidden" type="text" style="display:none;">
        <div class="form-outline mb-2">
            <label for="email">E-Mail</label>
            <input type="email" id="email" name="email" class="form-control"
                   placeholder="m.musterman@example.com" value="{{ content_user.email }}"
                   autofocus
                   required/>
        </div>
        <div class="form-outline mb-2">
            <label for="firstname">Firstname</label>
            <input type="firstname" id="firstname" name="firstname" class="form-control"
                   placeholder="Max" value="{{ content_user.first_name }}"
                   required/>
        </div>
        <div class="form-outline mb-2">
            <label for="lastname">Lastname</label>
            <input type="lastname" id="lastname" name="lastname" class="form-control"
                   placeholder="Mustermann" value="{{ content_user.last_name }}"
                   required/>
        </div>
        <div class="form-outline mb-2">
            <label for="username">Username</label>
            <input type="username" id="username" name="username" class="form-control"
                   placeholder="M.Mustermann" value="{{ content_user.username }}" required/>
        </div>
        <div class="form-outline mb-2">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control"
                   placeholder="Password" minlength="8"/>
        </div>
        <label for="groups">Groups</label>
        <div class="form-outline mb-2">
            {% if can_change_permission %}
                <select style="width: 100%" multiple="" name="groups" id="groups"
                        {% if not can_change_permission %}
                        disabled{% endif %}>
                    {% for group in groups %}
                        <option class="checkbox" value="{{ group.id }}"
                                {% if group.id in userGroups %}
                                selected{% endif %}>{{ group.name }}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </div>
        <input type="checkbox" name="is_active" id="is_active"{% if content_user.is_active %}
               checked{% endif %}>
        <label for="is_active">Active</label>
        {% if can_change %}
            <input class="btn btn-primary btn-block mb-2" type="submit" name="submit" id="submit"
                   value="Update">
        {% endif %}
        {% if can_delete %}
            <a class="btn btn-danger btn-block mb-4"
               href="" data-toggle="modal" data-target="#deleteUser">Delete</a>
        {% endif %}
    </form>
{% if can_delete %}
    <!-- Modal -->
    <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="deleteUserLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserLabel">Löschen bestätigen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="h5">Möchtest du wirklich den User {{ content_user.username }} löschen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form method="POST" action="{% url 'delete_user' id=content_user.id %}">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
