{% extends "half_page.html" %}

{% block title %}Login{% endblock %}

{% block half %}
    <h3 class="display-4">Login</h3>
    {% if error %}
        <h4 class="text-danger h5 mb-4">{{ error }}</h4>
    {% endif %}
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-outline mb-4">
            <label for="username">E-Mail</label>
            <input type="text" id="username" name="username" class="form-control" autofocus required/>
        </div>
        <div class="form-outline mb-4">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" required/>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary btn-block mb-4"/>
        {% if next %}<input type="hidden" name="next" id="next" value="{{ next }}">{% endif %}
    </form>
    Don't have a login? <a href="{% url 'register' %}">Register</a><br>
    Forgot password? <a href="{% url 'reset_password_request' %}">Reset</a>
{% endblock %}
