{% extends "main.html" %}
{% load static %}

{% block title %}Nutzer verwalten{% endblock %}

{% block content %}
    <h1 class="text-center display-4 mb-4">Nutzer verwalten</h1>
    <div class="row">
        <div class="col-12 col-xl-3">
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Filters</h5>
                </div>
                <div class="card-body">
                    <form method="get">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="filter-username">Nutzername:</label>
                            </div>
                            <input type="hidden" id="filter-username-type" name="username_type" value="contain">
                            <input class="form-control" type="text" name="username" id="filter-username"
                                   value="{{ GET.username }}">
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="filter-first_name">Vorname:</label>
                            </div>
                            <input type="hidden" id="filter-first_name-type" name="first_name_type" value="contain">
                            <input class="form-control" type="text" name="first_name" id="filter-first_name"
                                   value="{{ GET.first_name }}">
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="filter-last_name">Nachname:</label>
                            </div>
                            <input type="hidden" id="filter-last_name-type" name="last_name_type" value="contain">
                            <input class="form-control" type="text" name="last_name" id="filter-last_name"
                                   value="{{ GET.last_name }}">
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="filter-email">E-Mail:</label>
                            </div>
                            <input type="hidden" id="filter-email-type" name="email_type" value="contain">
                            <input class="form-control" type="text" name="email" id="filter-email"
                                   value="{{ GET.email }}">
                        </div>
                        <br>

                        <div class="dropdown">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="filter-date_joined">Registriert:</label>
                                </div>
                                <input class="form-control" type="date" name="date_joined_start"
                                       value="{{ GET.date_joined_start }}">
                                <div type="text" class="form-control form-control-text input-group-text">bis</div>
                                <input class="form-control" type="date" name="date_joined_end"
                                       value="{{ GET.date_joined_end }}">
                            </div>
                            <datalist id="filter-owner-data-list"></datalist>
                        </div>
                        <br>
                        <div class="dropdown">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="filter-last_login">Letzer Login:</label>
                                </div>
                                <input class="form-control" type="date" name="last_login_start"
                                       value="{{ GET.last_login_start }}">
                                <div type="text" class="form-control form-control-text input-group-text">bis</div>
                                <input class="form-control" type="date" name="last_login_end"
                                       value="{{ GET.last_login_end }}">
                            </div>
                            <datalist id="filter-owner-data-list"></datalist>
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Verifiziert:</label>
                            </div>
                            <input type="radio" id="filter-hidden-none" name="email_confirmed" value="0"
                                   onclick="update_filter_radiobuttons()" style="display: none;"
                                   {% if GET.email_confirmed != "1" and GET.email_confirmed != "2" %}checked{% endif %}>
                            <input type="radio" id="filter-hidden-false" name="email_confirmed" value="False"
                                   onclick="update_filter_radiobuttons()" style="display: none;"
                                   {% if GET.email_confirmed == "False" %}checked{% endif %}>
                            <input type="radio" id="filter-hidden-true" name="email_confirmed" value="True"
                                   onclick="update_filter_radiobuttons()" style="display: none;"
                                   {% if GET.email_confirmed == "True" %}checked{% endif %}>
                            <div class="input-group-append">
                                <label class="btn" for="filter-hidden-none">Nicht filtern</label>
                                <label class="btn" for="filter-hidden-false">Nich verifiziert</label>
                                <label class="btn" for="filter-hidden-true">Verifiziert</label>
                            </div>
                        </div>
                        <br>
                        <input class="btn btn-primary" type="submit" value="Filtern">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-9">
            <div class="card">
                <div class="card-header">
                    <h5>Nutzerliste</h5>
                </div>
                <div class="card-body">

                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th scope="row">Id</th>
                            <th>Nutzername</th>
                            <th>E-Mail</th>
                            <th>Vorname</th>
                            <th>Nachname</th>
                            {% if not GET.email_confirmed or GET.email_confirmed == "0" %}
                                <th>Verifiziert</th>
                            {% endif %}
                            {% if can_change or can_delete %}
                                <th></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr onclick="window.location='{% url 'user_details' id=user.id %}'">
                                <th>#{{ user.id }}</th>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                {% if not GET.email_confirmed or GET.email_confirmed == "0" %}
                                    <td>{% if user.email_confirmed %}Ja{% else %}Nein{% endif %}</td>
                                {% endif %}
                                {% if can_change or can_delete %}
                                    <td><a href="{% url 'edit_user' id=user.id %}">Bearbeiten</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if can_create %}
                        <a class="btn btn-primary" href="{% url 'create_user' %}">Neuen Nutzer Anlegen</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static '/js/filter.js' %}"></script>
    <script>
        window.addEventListener("load", update_filter_radiobuttons);
    </script>
{% endblock %}
