{% extends "half_page.html" %}
{% block title %}Reset Password{% endblock %}

{% block right %}
    <h3 class="display-4">Reset Password</h3>
    {% if sent_email %}
        <p class="mb-4">You should have an E-Mail with the password reset link in your inbox.</p>

    {% else %}
        <form method="POST" action="{% url 'reset_password_request' %}">
            {% csrf_token %}
            <div class="form-outline mb-4">
                <label for="username">E-Mail or Username:</label>
                <input type="text" id="username" name="username" class="form-control" autofocus required/>
            </div>
            <input type="submit" value="Submit" value="Get password reset email"
                   class="btn btn-primary btn-block mb-4"/>
        </form>
    {% endif %}
    Back to login? <a href="{% url 'login' %}">Login</a><br>
    Don't have a login? <a href="{% url 'register' %}">Register</a>
{% endblock %}
