{% extends "half_page.html" %}
{% load static %}

{% block title %}Passwort zurücksetzen{% endblock %}

{% block right %}
    <h3 class="display-4">Passwort zurücksetzen</h3>
    {% if error %}
        <h4 class="text-danger h5 mb-4">{{ error }}</h4>
    {% endif %}
    <form method="POST" action="{% url 'reset_password' %}">
        {% csrf_token %}
        <input type="hidden" id="user_id" name="user-id" value="{{ content_user.id }}">
        <input type="hidden" name="token" id="token" placeholder="token" value="{{ token }}">
        <div class="form-outline mb-4">
            <label for="password">Passwort</label>
            <input type="password" id="password" name="password" class="form-control" required minlength="8"/>
        </div>
        <div class="form-outline mb-4">
            <label for="password_retype">Passwort wiederholen</label>
            <input type="password" id="password_retype" name="confirm_password"
                   class="form-control" required minlength="8"/>
        </div>
        <input type="submit" value="Passwort ändern" class="btn btn-primary btn-block mb-4"/>
    </form>
    Noch nicht registriert? <a href="{% url 'register' %}">Registrieren</a><br>
    Zurück zum Login? <a href="{% url 'login' %}">Login</a>

{% endblock %}
