
.file-drop-box {
    display: flex;
    max-width: 100%;
    border: 1px dashed rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    transition: 0.2s
}

.file-drop-area {
    flex: 100% 1 1;
    position: relative;
    align-items: center;
    max-width: 100%;
    padding: 0.5rem;
}

.file-drop-area span {
    margin: 20px;
}


.file-drop-list {
    flex: 0px 1 1;
    margin: 0 1rem 0 1rem;
    text-align: left;
}

.file-drop-list div {
    white-space: nowrap;

}


.choose-file-button {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase
}

.file-message {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0
}

.mt-100 {
    margin-top: 100px
}

option.checkbox:before {
    content: "☐ "
}

option.checkbox:checked:before {
    content: "☑ "
}
