{
  "email_server": {
    "smtp_host": "smtp.examle.com",
    "smtp_port": 465,
    "smtp_use_tls": true,
    "smtp_use_ssl": false,
    "smtp_user": "noreply@example.com",
    "smtp_password": ""
  },
  "content": {
    "frontpage": "",
    "half_page": "",
    "imprint": "",
    "privacy": ""
  },
  "register": {
    "allow_custom_username": true,
    "email_whitelist_enable": false,
    "email_whitelist": []
  },
  "general": {
    "contact_email": "contact@example.com",
    "allow_location": true,
    "force_location": false,
    "meme_mode": false
  }
}
