
{%  extends "main.html" %}

{% block content %}
<br>
<h1 class="text-center display-4">Dashboard</h1>
<hr>
<h5 class="text-center"> TicketControl by RiseUp-Group</h5>

<br>

<script>
    var a;
</script>

<form action="login" onsubmit="a=this;submitForm(this); return false;">
    <input type="text" name="name" id="name" placeholder="Username"><br><br>
    <input type="password" name="pw" id="pw" placeholder="Password"><br><br>
    <input type="submit" value="Submit">
</form>

<script src="/ticketcontrol/static/js/login/login.js"></script>

{% endblock %}