{% extends "half_page.html" %}

{% block title %}Create group{% endblock %}

{% block right %}
    <h3 class="display-4">Gruppe erstellen</h3>
    <form method="POST" action="{% url 'create_group' %}">
        {% csrf_token %}
        <div class="form-outline mb-4">
            <input type="text" id="name" name="name" class="form-control" placeholder="Name" value="{{ group.name }}"
                   autofocus required/>
        </div>
        <label for="permissions">Berechtigungen</label>
        <div class="form-outline">
            <select style="height: 45vh; width: 100%;" multiple="" name="permissions" id="permissions" class="mb-4">
                {% for permission in permissions %}
                    <option class="checkbox"
                            value="{{ permission.perm.id }}">{{ permission.perm.content_type.model }}.{{ permission.perm.name }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Gruppe erstellen" class="btn btn-primary btn-block"/>
    </form>
{% endblock %}
