{% extends "half_page.html" %}

{% block title %}Gruppe bearbeiten{% endblock %}

{% block right %}
    <h3 class="display-4">Gruppe bearbeiten</h3>
    <form method="POST" action="{% url 'edit_group' id=group.id %}" autocomplete="off">
        {% csrf_token %}
        <div class="form-outline mb-4">
            <input type="text" name="name" id="name" class="form-control" placeholder="Name" value="{{ group.name }}"
                    {% if group.name == "admin" or group.name == "moderator" or group.name == "user" %}
                   disabled{% endif %}>
        </div>
        <label for="permissions">Berechtigungen</label>
        <div class="form-outline mb-4">
            <select style="height: 40vh; width: 100%;" multiple="" name="permissions" id="permissions"
                    {% if group.name == "admin" or not can_change %} disabled{% endif %}>
                {% for permission in permissions %}
                    <option class="checkbox" value="{{ permission.perm.id }}"
                            {% if permission.perm.id in group_permissions %}
                            selected{% endif %}>{{ permission.perm.content_type.model }}.{{ permission.perm.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% if can_change %}
            <input class="btn btn-primary btn-block" type="submit" name="submit" id="submit" value="Speichern">
        {% endif %}
        {% if can_delete %}
            <a class="btn btn-danger btn-block" data-toggle="modal" href="" data-target="#delete-group">Löschen</a>
        {% endif %}
    </form>
    <!-- Modal -->
    <div class="modal fade" id="delete-group" tabindex="-1" role="dialog" aria-labelledby="delete-group-label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-group-label">Löschen bestätigen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="h5">Möchtest du wirklich die Gruppe {{ group.name }} löschen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                    <form method="POST" action="{% url 'delete_group' id=group.id %}">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}