{% extends "main.html" %}

{% block content %}
<br>
<h1 class="text-center display-4">{{ user.username }}</h1>
<hr>

<br>

<table>
<tbody>
<tr><td>E-Mail:</td><td>{{ user.email }}</td></tr>
<tr><td>First name:</td><td>{{ user.first_name }}</td></tr>
<tr><td>Last name:</td><td>{{ user.last_name }}</td></tr>
<tr><td>Groups:</td><td><ul>{% for group in user.groups.all %}
    <li>{{ group.name }}</li>
{% endfor %}</ul></td></tr>
</tbody>
</table>
<br>
{% if edit_permission %}
    <a class="btn btn-primary" href="{% url 'edit_user' id=user.id %}">Edit</a>
{% endif %}

{% endblock %}
