{% extends "main.html" %}

{% block content %}
<br>
<h1 class="text-center display-4">Manage users</h1>
<hr>
<h5 class="text-center">TicketControl by RiseUp-Group</h5>

<br>

<table>
<thead>
<tr><td>id</td><td>name</td><td>E-Mail</td><td>firstname</td><td>lastname</td></tr>
</thead>
<tbody>
{% for user in users %}
    <tr onclick="window.location='{% url 'user_details' id=user.id %}'"><td>{{ user.id }}</td><td>{{ user.username }}</td><td>{{ user.email }}</td><td>{{ user.first_name }}</td><td>{{ user.last_name }}</td></tr>
{% endfor %}
</tbody>
</table>

{% endblock %}