{% extends 'main.html' %}
{% load static %}
{% block title %}Home{% endblock %}


{% block content %}
    {% if content %}
        {{ content|safe }}
    {% else %}
        <div class="container-fluid mt-4">
            <div class="container rounded mt-3 text-muted">
                <div class="bg-transparent text-center text-dark rounded mt-3">
                    <h1 class="display-1">TicketControl</h1>
                    <h2 class="display-6">Ticket System by RiseUp Group</h2>
                    <a class="lead text-primary" onclick="window.location='https://riseupgroup.net'">riseupgroup.net</a>
                </div>
                <div class="jumbotron bg-transparent">
                    <h1 class="display-4 text-dark">Hinweis</h1>
                    <p class="lead">Die Startseite kann ausgetauscht werden. Systemeinstellungen > Startseite</p>
                </div>
                <hr>
                <div class="jumbotron bg-transparent">
                    <h1 class="display-4 text-dark">About us</h1>
                    <p class="lead">Originaly, this was a project for school! Now we are here with our TicketSystem</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
