{% extends 'main.html' %}
{% load static %}
{% block title %}Settings{% endblock %}

{% block content %}
    <h1>Settings</h1>
    <form action="{% url 'settings' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <h2>E-Mail</h2>
            <label for="email-server.smtp-host">smtp-host:</label>
            <input type="text" id="email-server.smtp-host" name="email-server.smtp-host"
                   value="{{ settings.email_server.smtp_host }}"><br>
            <label for="email-server.smtp-port">smtp-port</label>
            <input type="number" min="0" id="email-server.smtp-port" name="email-server.smtp-port"
                   value="{{ settings.email_server.smtp_port }}"><br>
            <input type="checkbox" id="email-server.smtp-use-tls" name="email-server.smtp-use-tls"
                   {% if settings.email_server.smtp_use_tls %}checked{% endif %}>
            <label for="email-server.smtp-use-tls">use TLS</label>
            <input type="checkbox" id="email-server.smtp-use-ssl" name="email-server.smtp-use-ssl"
                   {% if settings.email_server.smtp_use_ssl %}checked{% endif %}>
            <label for="email-server.smtp-use-ssl">use SSL</label><br>
            <label for="email-server.smtp-user">E-Mail:</label>
            <input type="email" id="email-server.smtp-user" name="email-server.smtp-user"
                   value="{{ settings.email_server.smtp_user }}"><br>
            <label for="email-server.smtp-password">Password:</label>
            <input type="password" id="email-server.smtp-password" name="email-server.smtp-password"
                   value=""><br>
        </div>
        <div class="form-group">
            <h2>Content</h2>
            <label for="content.frontpage">Frontpage:</label><br>
            <textarea id="content.frontpage"
                      name="content.frontpage">{{ settings.content.frontpage }}</textarea><br><br>
            <label for="content.half-page">Half page:</label><br>
            <textarea id="content.half-page"
                      name="content.half-page">{{ settings.content.half_page }}</textarea><br><br>
            <label for="content.imprint">Imprint:</label><br>
            <textarea id="content.imprint" name="content.imprint">{{ settings.content.imprint }}</textarea><br><br>
        </div>
        <div class="form-group">
            <h2>Register</h2>
            <input type="checkbox" id="register.allow-custom-nickname" name="register.allow-custom-nickname"
                   {% if settings.register.allow_custom_nickname %}checked{% endif %}>
            <label for="register.allow-custom-nickname">Allow custom nickname</label><br>
            <input type="checkbox" id="register.email-whitelist-enable" name="register.email-whitelist-enable"
                   {% if settings.register.email_whitelist_enable %}checked{% endif %}>
            <label for="register.email-whitelist-enable">Enable E-Mail whitelist</label><br>
            <div id="register.email_whitelist">
                {% for entry in settings.register.email_whitelist %}
                    <div>
                        <input type="email" name="register.email-whitelist" value="{{ entry }}">
                        <a class="btn btn-primary" onclick="removeEmailWhitelistEntry(this);">Löschen</a>
                    </div>
                {% endfor %}
            </div>
            <a class="btn btn-primary" onclick="addEmailWhitelistEntry();">Hinzufügen</a>
        </div>
        <div class="form-group">
            <h2>Legal</h2>
            <label for="legal.contact-email">Contact E-Mail:</label>
            <input type="email" id="legal.contact-email" name="legal.contact-email"
                   value="{{ settings.legal.contact_email }}"><br>
            <label for="legal.privacy-and-policy">Privacy and policy:</label><br>
            <textarea id="legal.privacy-and-policy"
                      name="legal.privacy-and-policy">{{ settings.legal.privacy_and_policy }}</textarea><br><br>

        </div>
        <input type="submit" value="Save">
    </form>
    <script src="{% static '/js/emailWhitelist.js' %}"></script>
{% endblock %}
